@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-image {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes mymove {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

* {
  scroll-behavior: smooth;
  font-style: normal;
}
